// Font.
$font: (
  primary: ("Lato","Helvetica Neue",Helvetica,sans-serif),
  secondary: ("Noto Serif",Georgia,serif)
);

// Palette.
// {% assign accent = site.accent_color | default: '#2d72d9' %}
$palette: (
  accent:    #2d72d9,  // # {{ accent }}
  primary:   #6b747a,
  secondary: #2c343c,
  meta:      #9ba6ad,
  border:    #d7d7d7,
  bg:        #fbfbfb
);


