
.logo h1 {
    font-family: Georgia, 'Helvetica Neue', 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
}

html {
  border: 15px solid #3d72d9;
  box-sizing: border-box;

  @media only screen and (max-width: 768px) {
    border-width: 7px;
    font-size: 100%;
  }
}

body {
    /* font-family: 'FontAwesome'; */
    font-family: Georgia, 'Helvetica Neue', 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
}

.max-single {
    max-width: 1000px;
}

.narrow-background {
    display: table;
    padding: 0.1em;
}

.author-image {
    object-fit: cover;
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.title-image {
    padding-bottom: 2em;
    width: 110%;
    margin-left: -5%;
}

.title-category {
    margin-left: -1em;
}

.title-tag {
    font-family: Georgia, 'Helvetica Neue', 'Arial Narrow Bold', sans-serif;
    margin-top: -0.5em;
    padding-bottom: 1em;
}

.is-footer-icon {
    font-size: 1.1em;
    margin-right: -0.5em;
}
