{{ define "main" }}
<div class="hero is-dark is-halfheight" {{ with .Site.Author.image }}
    style="background: url({{ . }}) center no-repeat; background-size:contain;" {{ end }}>
    <div class="hero-body">
      <div class="container max-single">
        <h1 class="title is-2 has-background-primary narrow-background">
            {{ .Site.Author.name }}
        </h1>
        {{ with .Site.Author.comments }}
        <h2 class="title subtitle is-5 has-background-primary narrow-background">
            {{ . }}
        </h2>
        {{ end }}
      </div>
    </div>
</div>
<div class="section">
    <div class="container max-single">
        <div class="content">
            {{ .Content }}
        </div>
    </div>
</div>
{{ end }}
